@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

html, body {
  font-family: "JetBrains Mono", monospace !important;
  background-color: var(--bg-dark);
}

.myst-primary-sidebar-footer {
    display: none;
}